.footer {
  background-color: #f9c62d;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  /*border-radius: 30px 30px 0 0;*/
}

.socialLinks {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.socialLinks a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.socialLinks img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.socialLinks img:hover {
  transform: scale(1.1);
}

.contactForm {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.contactForm h3 {
  margin-bottom: 20px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactForm input,
.contactForm textarea {
  background-color: #f0eac8;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.contactForm textarea {
  resize: none;
  height: 100px;
}

.contactForm button {
  padding: 10px;
  background-color: #414141;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.contactForm button:hover {
  background-color: #f3ad33;
}

/* FAQ Styles */
.faq {
  text-align: center;
  margin-top: 40px;
}

.faqItem {
  margin-bottom: 20px;
}

.faqQuestion {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #414141;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.faqQuestion:hover {
  background-color: #333;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faqAnswer p {
  padding: 10px;
  background-color: #333;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

/* Montre la réponse */
.faqAnswer.open {
  max-height: 200px;
}

/* Responsive */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .contactForm {
    flex: 1;
    max-width: 100%;
  }

  .socialLinks {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .faq {
    flex: 1;
  }
}
